body {
    margin: 0;
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Segoe UI';
}

#uwp-btn {
    color: #222;
    border-radius: 4px;
    background-color: #d2d2d2;
    overflow: hidden;
    transition: transform 0.02s linear 0s;
    outline: none;
    border: none;
    padding: 0;
}

#uwp-btn:focus {
    outline: 2px solid #000;
}

#uwp-btn.click {
    transition: transform 0.4s linear 0.1s;
}

#uwp-border {
    width: max-content;
    font-size: 14px;
    padding: calc(6px + 1px) calc(8px + 1px);
    user-select: none;
    display: grid;
    place-items: center;
    border-radius: 4px;
}

#uwp-border.hover {
    padding: calc(6px + 0px) calc(8px + 0px);
    border: 1px solid #888;
}

#uwp-reveal-highlight {
    opacity: 0;
    pointer-events: none;
    position: relative;
    transform: translate(-128px, -128px);
    width: 256px;
    height: 256px;
    background-image: radial-gradient(#fff2, #fff0, transparent);
}

#uwp-reveal-highlight.show {
    opacity: 1;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #000;
    }
    #uwp-btn {
        background-color: #2f2f2f;
        color: #d8d8d8;
    }
    #uwp-btn:focus {
        outline: 2px solid #fff;
    }
}